/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
:root {
  /*colors*/
  --clr-primary: #f5f5dc; /*representing the snow on the mountain tops*/
  --clr-secondary: #87ceeb; /*representing the blue sky*/
  --clr-tertiary: #808080; /*representing the stones*/
  --clr-alt-1: #add8e6; /*representing the clouds*/
  --clr-alt-2: #696969; /*representing the mountain*/
  --clr-black: #000000; /*Just black*/
  --clr-bg-dark: #3f3e3e;
  --clr-bg-light: #f5f5f5;
  --clr-bg-lighter: #eeeeee;
  --clr-cta: #0088a9;
  --clr-cta-hover: #0088a9;
  --clr-sale: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", serif;
  font-family: "Monteserrant", sans-serif;
  font-family: "Nunito sans", sans-serif;
}
h1,
h3 {
  font-family: "Open Sans", serif;
  color: #0d1110;
  font-size: 30px;
  /*font-weight: bold;*/
}
p {
  font-family: "Nunito Sans", serif;
  color: var(--clr-alt-2);
}
body {
  background-color: var(--clr-alt-2);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-primary);
  background-color: var(--clr-alt-2);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-alt-2);
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.footer-container {
  display: inline;
  background-color: var(--clr-alt-2);
  padding-top: 1rem;
  font-size: larger;
}
.footer-container:nth-child(-n + 3) * {
  padding-left: 2rem;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary);
  padding: 2rem;
  margin: 2rem;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary);
  padding: 2rem;
  margin: 2rem;
}
.contact-container,
.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}
.contact-box,
.about-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-primary);
}
.left {
  height: 100%;
  background: url("images/contact.jpeg") no repeat center;
  background-size: cover;
  margin-top: 55px;
}
.right {
  padding: 25px 40px;
}
.field {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
/* **************Contact*****************************/
form {
  display: table;
}
/*Nav -- Menu*/
nav {
  margin: 2rem;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: var(--clr-black);
  text-decoration: none;
}
#click {
  display: none;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover,
.active {
  color: var(--clr-primary);
}
/*****card*****/
.card-body img {
  width: 50vw;
  max-width: 200px;
}
.select-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 15rem;
}

.price-container-col {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; */
  top: 65vh;
  max-width: 15rem;
}
/*********************** form and payment form *************************/
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
input {
  margin: 5px;
  padding: 5px;
  border: 1px solid #0088a9;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #4d9078;
}
.payment-form input {
  width: 60vw;
  max-width: 500px;
}
.payment-container {
  display: flex;
  flex-direction: row;
}
.payment-form {
  margin: 0.5rem;
}
.icon-container {
  font-size: x-large;
}
/*****************PRODUCTS**********************/

/*************GENERAL COMPONENTS AND STYLES****************/
.jumbo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  width: 100vw;
  padding: 5rem;
  background-color: var(--clr-primary);
}
.text-container {
  margin-right: 2rem;
  max-width: 40vw;
}
.container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.email {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
.sale {
  background-color: var(--clr-bg-lighter);
}
/*********************IMAGES******************************/
img {
  width: 60vw;
  max-width: 400px;
  min-width: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
/*********************************BUTTONS*******************************/
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--clr-alt-1);
  color: var(--clr-alt-2);
  text-decoration: none;
}
.btn:hover {
  background-color: var(--clr-secondary);
}
.btn:focus {
  background-color: var(--clr-secondary);
}
.btn:active {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.btn:disabled {
  background-color: var(--clr-bg-grey);
  color: var(--clr-bg-light);
}
.btn-area {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #3a71a9;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
.btn-area:hover {
  background-color: #76bfb6;
  color: #fff;
}
.btn-area i {
  margin-left: 5px;
}
.menu-btn {
  color: white;
  display: none;
  cursor: pointer;
  padding-left: 10px;
}
/**********************************INDEX.HTML*************************************************/
.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--clr-bg-light);
}
.category-container img {
  width: 30vw;
  min-width: 250px;
}
/*******************************CHECKOUT.HTML*****************************************************/
table {
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 8px;
  padding-bottom: 0;
}
/*td {
  width: 400px;
  background-color: #0088a9;
  margin-top: 30px;
}
th {
  text-align: center;
  background-color: white;
}*/
/* tr * {
  padding: 0.5rem;
  margin: 1rem;
} */

thead tfoot {
  background-color: #0088a9;
}
td img {
  width: 100px;
  max-width: 0;
  min-width: 100px;
}
.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 15rem;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: var(--clr-primary);
}
.table-container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}
.table-container img {
  max-width: 100px;
  width: 5vw;
  min-width: 50px;
}
/*****************************MEN.HTML, WOMEN.HTML, SALE.HTML***********************************************/
.product-display-container {
  margin: 10px;
  padding: 10px;
  align-items: flex-start;
}
.product-display-text {
  margin: 10px;
  padding: 10px;
}
/*************************************PRODUCTS.HTML*************************************************/
.products-container {
  display: flex;
  flex-wrap: wrap;
  border: solid, green, 2px;
}
.product-container {
  width: 500;
  border: solid, blue, 20px;
  margin: 1rem;
}
.product-container img {
  width: 60vw;
  max-width: 600px;
  min-width: 300px;
}
/****************@media******************/
@media (max-width: 1000px) {
  .payment-container {
    flex-direction: column-reverse;
  }
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  .jumbo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-container {
    margin-bottom: 2rem;
    margin-right: 0;
    max-width: 100%;
  }
  .container-row,
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .contact-box,
  .about-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
@media (max-width: 500px) {
  .nav__links {
    position: fixed;
    top: 150px;
    /* left: -100%; */
    background-color: #24252a;
    /* height: 50vh; */
    width: 100%;
    padding-bottom: 2rem;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  .cta {
    display: inline-flex;
    position: fixed;
    bottom: 80px;
    width: 100vw;
    left: -100;
    justify-content: center;
    transition: all 0.3s ease;
  }
  #click:not(:checked) ~ .nav__links {
    left: -100%;
  }
  #click:not(:checked) ~ .cta {
    left: -100%;
  }
  #click:checked ~ .nav__links {
    left: 0%;
  }
  #click:checked ~ .cta {
    left: 0%;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .nav__links li {
    display: block;
    margin-top: 20px;
  }
  .menu-btn {
    display: inline-block;
  }
}
